/* Customis */
  

  /* ૮ ˶ᵔ ᵕ ᵔ˶ ა */
  /* body:before {
    position: fixed;
    left: 2px;
    width: 32px; height: 32px;
    margin: 16px;
    z-index: 999;
    content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=40&quality=lossless);
    pointer-events: none;
  } */

  /* customisation */

  :root [class*=searchBarComponent-]::before {
    font-size: 22.5px !important;
    font-family: Times, 'Times New Roman', serif;
    content: "(•ิ_•ิ)";
  }

  :root [class*=searchBarComponent-] {
    font-size: 0px !important;
  }

  :root [class*=homeIcon] {
    background-image: url(https://cdn.discordapp.com/emojis/983666916788936734.webp?size=40&quality=lossless);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
  }

  :root [class*=homeIcon] path {
    display: none;
  }

  /* 
    OPTIMISED MEMBER TRAY
  */

  /* Hide Unil Opened VENCORD */
  :root div[id="vc-membercount"] {
    transition: all ease 250ms;
    opacity: 0%;
    pointer-events: none;
    margin-top: -30px !important; 
  }

  :root [class*=membersGroup-] {
    height: 0px !important;
    padding: 0% !important;
  }

  :root [class*=membersWrap] {
    min-width: 0px !important;
    width: 0px;
  }

  :root [class*=members] {
    transition: ease 240ms !important;
    transition-delay: 250ms !important;
    min-width: 0px !important;
    width: 55px;

    will-change: width;
  }

  :root [class*=membersWrap]:hover {
    width:240px
  }

  :root [class*=membersWrap]:hover [class*=membersGroup] {
    transition-delay: 500ms !important;
    height: 40px !important;
    padding: 24px 8px 0 16px !important;
  }

  :root [class*=membersWrap]:hover [class*=members] {
    width: 240px;
  }

  :root [class*=membersWrap-]:hover div[id="vc-membercount"] {
    transition-delay: 255ms !important;
    margin-top: 1em !important;
    opacity: 100;
  }
  
  /* add hide sidebar patch
  :root #vc-spotify-player {
    opacity: 0;
  }

  :root [class*=sidebar] {
    transition: 250ms ease all !important;
    width: 10px;
  }

  :root[class*=sidebar]:hover #vc-spotify-player {
    transition-delay: 250ms !important;
    transition: all ease 500ms;
    opacity: 1;
  }

  :root [class*=sidebar]:hover {
    width: 240px;
    transition-delay: 250ms !important;
  }
   */
}

/* FIX FOR MEMBER COUNT; DA THEME-INCOMPATIBLE */
:root div[id="vc-membercount"] {
  margin-bottom: 0px !important;
}
