/* Customis */
:root #vc-spotify-player {
  --spotify-wave-width: 240px;
  --spotify-vencord-color: var(--text-muted);
  --spotify-vencord-text: white
}

@keyframes spotifywave {
  0% {
    -webkit-mask-position-x: var(--spotify-wave-width);
  }

  100% {
    -webkit-mask-position-x: 0;
  }
}

:root #vc-spotify-player::before {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 1;
  width: var(--spotify-wave-width);
  margin-top: -29px;
  left: 0;
  background: var(--spotify-vencord-color);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="240" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: spotifywave 8s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}

:root #vc-spotify-player#vc-spotify-player  {
  border-bottom: none;
  background: linear-gradient(var(--spotify-vencord-color) 20%, var(--bg-overlay-1, var(--background-secondary-alt)));
}

:root #vc-spotify-song-title#vc-spotify-song-title,
:root .vc-spotify-ellipoverflow.vc-spotify-ellipoverflow,
:root .vc-spotify-artist.vc-spotify-artist,
:root .vc-spotify-album.vc-spotify-album {
  color: var(--spotify-vencord-text);
}

:root #vc-spotify-player [class*="bar-"] {
  background: hsl(var(--primary-700-hsl) / 0.3);
}

:root #vc-spotify-player [class*="barFill"] {
  background: hsl(var(--primary-700-hsl) / 0.3);
}

:root [class*=wrapper-]:not(:empty) + :root #vc-spotify-player {
  margin-top: 27px;
}

:root [class*=panels-] [class*=wrapper-] [class*=container-] {
  border-bottom: none;
}

/* Buttons Spotify */

:root button[class*=vc-spotify-button]:not([class*=vc-spotify-repeat]):hover {
  color: var(--spotify-vencord-color)
}

:root [class*=link-][href="/message-requests"], :root [class*=link-][href="/store"] {
  display: none;
}

@media screen and (min-width: 1080px) and (max-width: 1080px) {
  :root [class*=wordmarkWindows-], :root [class*="winButtonMinMax-"], :root [class*="winButtonClose-"] {
    opacity: 0%;
  }

  :root [class*="winButtonMinMax-"]:hover, :root [class*="winButtonClose-"]:hover {
    opacity: 100%;
  }

  :root [class*=typeWindows-] {
    transition: 250ms ease all !important;
    margin-top: -10px;
  }

  :root [class*=typeWindows-]:hover {
    margin-top: 0px;
  }


  /* ૮ ˶ᵔ ᵕ ᵔ˶ ა */
  /* body:before {
    position: fixed;
    left: 2px;
    width: 32px; height: 32px;
    margin: 16px;
    z-index: 999;
    content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=40&quality=lossless);
    pointer-events: none;
  } */

  /* customisation */

  :root [class*=searchBarComponent-]::before {
    font-size: 22.5px !important;
    font-family: Times, 'Times New Roman', serif;
    content: "(•ิ_•ิ)";
  }

  :root [class*=searchBarComponent-] {
    font-size: 0px !important;
  }

  :root [class*=homeIcon] {
    background-image: url(https://cdn.discordapp.com/emojis/983666916788936734.webp?size=40&quality=lossless);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
  }

  :root [class*=homeIcon] path {
    display: none;
  }

  /* 
    OPTIMISED MEMBER TRAY
  */

  /* Hide Unil Opened VENCORD */
  :root div[id="vc-membercount"] {
    transition: all ease 250ms;
    opacity: 0%;
    pointer-events: none;
    margin-top: -30px !important; 
  }

  :root [class*=membersGroup-] {
    height: 0px !important;
    padding: 0% !important;
  }

  :root [class*=membersWrap] {
    min-width: 0px !important;
    width: 0px;
  }

  :root [class*=members] {
    transition: ease 240ms !important;
    transition-delay: 250ms !important;
    min-width: 0px !important;
    width: 55px;

    will-change: width;
  }

  :root [class*=membersWrap]:hover {
    width:240px
  }

  :root [class*=membersWrap]:hover [class*=membersGroup] {
    transition-delay: 500ms !important;
    height: 40px !important;
    padding: 24px 8px 0 16px !important;
  }

  :root [class*=membersWrap]:hover [class*=members] {
    width: 240px;
  }

  :root [class*=membersWrap-]:hover div[id="vc-membercount"] {
    transition-delay: 255ms !important;
    margin-top: 1em !important;
    opacity: 100;
  }
  
  /* hide sidebar patch */
  :root #vc-spotify-player {
    opacity: 0;
  }

  :root [class*=sidebar] {
    transition: 250ms ease all !important;
    width: 10px;
  }

  :root[class*=sidebar]:hover #vc-spotify-player {
    transition-delay: 250ms !important;
    transition: all ease 500ms;
    opacity: 1;
  }

  :root [class*=sidebar]:hover {
    width: 240px;
    transition-delay: 250ms !important;
  }
}

/* FIX FOR MEMBER COUNT; DA THEME-INCOMPATIBLE */
:root div[id="vc-membercount"] {
  margin-bottom: 0px !important;
}
